@model Lawnmowers.Web.Models.InstructionsInputModel

<div class="jumbotron">
    <h1>Lawn Mowers </h1>
    <p class="lead">Service control to operate the remote lawn mowers and get them mowing.</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Enter instructions for the lawn mowers</h4>

        @using (Html.BeginForm("MowTheLawn", "Home", FormMethod.Get))
        {
            <fieldset>
                <p>
                    @Html.EditorFor(model => model.Instructions, Model.Instructions)
                    <br />
                    @Html.ValidationSummary()
                </p>

                <p>
                    <input type="submit" value="Get Mowing!" />
                </p>
            </fieldset>
        }
    </div>
</div>